.App {
  text-align: center;
  width: 1008px;
  margin: auto;
  margin-top: 50px;
}

.ItemConstructor {
  border: 1px solid black;
  width: 200px;
  margin: 10px;
  border-radius: 10%;
  display: inline-block;
}

h3 {
  display: inline-block;
  margin: 5px;
}
.Order_name {
  display: inline-block;
  margin: 5px;
  margin-right: 50px;
}

a {
  text-decoration: none;
}

.Add_items {
  border: 3px solid black;
  width: 500px;
  display: inline-block;
  margin: 20px;
  height: 470px;
  overflow: hidden;
}

.Order_details {
  border: 3px solid black;
  width: 400px;
  display: inline-block;
  margin: 20px;
  height:470px;
  overflow: hidden;
}
.TotalPrice {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}

.Order {
  margin-top: 40px;
}

.OrderConstructor {
  margin-top: 20px;

}